html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: Arial;
}
#chat {
    width: 100vw;
    height: 100vh;
    padding: 12px;
}
#chat div {
    padding: 4px 0px;
}
#chat div b {
    color: #555;
}
input[type=text] {
    position: fixed;
    bottom: 10px;
    left: 12px;
    outline: none;
    width: 400px;
    border: #555 solid 1px;
    font-size: 14px;
    padding: 4px;
}